@using Auth.Views.Manage
@model Auth.Models.Wallet

@{
    ViewData["Title"] = "Create";
    ViewData.AddActivePage(ManageNavPages.CreateWallet);
    Layout = "~/Views/Manage/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Wallet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WalletIdentifier" class="control-label"></label>
                <input asp-for="WalletIdentifier" class="form-control" value="@Guid.NewGuid()"/>
                <span asp-validation-for="WalletIdentifier" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
