@using Auth.Views.Manage
@model Auth.Models.Exchange

@{
    ViewBag.Title = "title";
    ViewData.AddActivePage(ManageNavPages.Exchange);
    Layout = "~/Views/Manage/_Layout.cshtml";
}

<h2>@Model.CurrentPair</h2>


<div>TODO: TOP BAR - static</div>

<div>TODO: Sales - dynamic</div>

<div>TODO: Buys - dynamic</div>

<div>TODO: Graphs - dynamic</div>

<div>TODO: Bids -buy - static</div>

<div>TODO: Bids -sell - static</div>

<div>TODO: Markets - static</div>

<div>TODO: History - dynamic</div>

